@page
@model PrivacyModel
@{
}
<html>
<head>
    <META HTTP-EQUIV="refresh" CONTENT="3;URL=Index">
</head>
<body>
    <h1 style="font-family: Times new roman; text-align: center; font-size:64px;">
        You have been logged out succesfully!</br></br>
        You will be redirected to the home page in 3 seconds
    </h1>

    <h1 style="font-family: Consolas; text-align: center; font-size:64px; margin-top:15px"><a asp-page="Index" asp-page-handler="Logout">Home</a></h1>
</body>
</html>



